<footer class="mobile-nav">
  <nav class="mobile-nav">
    <ul class="mobile-nav__list">
        <li class="mobile-nav__item">
            <i class="" data-lucide="house"></i>
            <p class="mobile-nav__title">Головна</p>
        </li>
        <li class="mobile-nav__item">
            <i class="" data-lucide="wallet"></i>
            <p class="mobile-nav__title">Рахунки</p>
        </li>
        <li class="mobile-nav__item">
            <i class="" data-lucide="circle-plus"></i>
        </li>
        <li class="mobile-nav__item">
            <i class="" data-lucide="chart-no-axes-combined"></i>
            <p class="mobile-nav__title">Аналітика</p>
        </li>
        <li class="mobile-nav__item">
            <i class="" data-lucide="settings"></i>
            <p class="mobile-nav__title">Налаштування</p>
        </li>
    </div>
</nav>
</footer>
