<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__item mobile-nav__item--active">
      <a class="mobile-nav__link" href="#">
        <i data-lucide="house"></i>
        <span>Головна</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#">
        <i data-lucide="wallet"></i>
        <span>Рахунки</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#">
        <i data-lucide="target"></i>
        <span>Ціль</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#">
        <i data-lucide="chart-no-axes-combined"></i>
        <span>Аналітика</span>
      </a>
    </li>
    <li class="mobile-nav__item">
      <a class="mobile-nav__link" href="#">
        <i data-lucide="settings"></i>
        <span>Налаштування</span>
      </a>
    </li>
  </ul>
</nav>
