.user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--color-bg-medium);
  color: vat(--color-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
}

@media (min-width: 325px) {
  .user {
    width: 3rem;
    height: 3rem;
    font-size: var(--font-size-md);
  }
}

@media (min-width: 726px) {
  .user {
    width: 3rem;
    height: 3rem;
    font-size: var(--font-size-mf);
  }
}
