html {
  min-width: 320px;
  background: var(--color-bg);
}

body {
  min-width: 320px;
  min-height: 100vh;

  background: var(--color-bg);
  color: var(--color-text-primary);

  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

#main {
  flex: 1;
}

@media (min-width: 768px) {
  #app {
    max-width: var(--cintainer-width-lg);
  }
}
@media (min-width: 1024px) {
  #app {
    max-width: var(--container-width-xl);
  }
}

button,
a {
  cursor: pointer;
}

button {
  color: inherit;
}

button:disabled {
  cursor: not-allowed;
}

::selection {
  background: var(--color-accent);
  color: var(--color-bg);
}
