<section class="transaction">
  <div class="transaction__header">
    <p class="transaction__operation-title">Останні операції</p>
    <a class="transaction__operation-all" href="#">
      всі
      <span>
        <i data-lucide="chevron-right"></i>
      </span>
    </a>
  </div>

  <article class="transaction__card">
    <div class="transaction__icon">
      <i data-lucide="shopping-cart"></i>
    </div>

    <div class="transaction__description">
      <div class="transaction__left">
        <p class="transaction__note">Сільпо</p>
        <p class="transaction__category">Продукти</p>
      </div>

      <div class="transaction__right">
        <p class="transaction__amount">-<span>₴</span>560</p>

        <div class="transaction__time-stamp">
          <p class="transaction__date">Сьогодні</p>
          <p class="transaction__time">18:52</p>
        </div>
      </div>
    </div>
  </article>
</section>
