.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-4) var(--space-4) 0 var(--space-4);
  margin-bottom: var(--space-4);
  border-radius: var(--radius-md);
}
