.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-md);
}

@media (min-width: 325px) {
  .brand-title {
    font-size: var(--font-size-md) !important;
  }
}
@media (min-width: 726px) {
  .brand-title {
    font-size: var(--font-size-lg) !important;
  }
  .brand-subtitle {
    font-size: var(--font-size-xs) !important;
  }
}
@media (min-width: 1024px) {
  .brand-subtitle {
    font-size: var(--font-size-sm) !important;
  }
}
