<section class="dashboard" aria-label="Фінансовий огляд">
  <!-- Віджет денних витрат -->
  <section class="dashboard__spending">
    <div class="dashboard__spending-chart">
      <svg class="dashboard__spending-progress" aria-hidden="true" viewBox="0 0 320 180">
        <!-- Фонова дуга -->
        <path
          class="dashboard__spending-arc dashboard__spending-arc--background"
          d="M 35 150 A 125 125 0 0 1 285 150"
        ></path>

        <!-- Прогрес -->
        <path
          class="dashboard__spending-arc dashboard__spending-arc--progress"
          d="M 35 150 A 125 125 0 0 1 285 150"
          style="stroke-dasharray: 400; stroke-dashoffset: 0"
        ></path>
      </svg>

      <div class="dashboard__spending-content">
        <p class="dashboard__spending-amount" id="daily-spending-amount">
          ₴ 1250 <span class="daily-spending-amount-currency">грн</span>
        </p>

        <p class="dashboard__spending-additional" id="daily-spending-additional" hidden="">
          +₴ 0 можна витратити додатково завдяки надходженням
        </p>

        <span class="dashboard__spending-percent" id="daily-spending-percent">0% <span>використано</span></span>
      </div>
    </div>
  </section>

  <!-- Загальний баланс -->
  <div class="dashboard__balance-inner">
    <section class="dashboard__balance">
      <p class="dashboard__balance-label">Загальний баланс</p>

      <p class="dashboard__balance-amount" id="total-balance">₴ 0</p>
    </section>
    <section class="dashboard__balance">
      <p class="dashboard__balance-label">Готівка</p>

      <p class="dashboard__balance-amount" id="total-balance">₴ 0</p>
    </section>
    <section class="dashboard__balance">
      <p class="dashboard__balance-label">Банківські рахунки</p>

      <p class="dashboard__balance-amount" id="total-balance">₴ 0</p>
    </section>
    <section class="dashboard__balance">
      <p class="dashboard__balance-label">Банківські рахунки</p>

      <p class="dashboard__balance-amount" id="total-balance">₴ 0</p>
    </section>
  </div>
</section>
